#kegometrics
  #arrow
  %h2.phark Vote For Next Week's Beer
  .content
    .stat
      %h4.pints Pints Left
      .stat_number #{@currently_on_tap.remaining_pints rescue 'N/A'}
    .stat
      %h4.capacity Capacity
      .stat_number #{remaining_percent_of(@currently_on_tap)}
    .progress-container
      %div{ :style => "width:#{remaining_percent_of(@currently_on_tap)}" }
    .sub_stat
      %h5 Date Tapped:
      %span #{date_tapped(@currently_on_tap)}
    .sub_stat
      %h5 Days Tapped:
      %span #{days_tapped(@currently_on_tap)}
    .sub_stat
      %h5 Beer:
      %span #{@currently_on_tap.name rescue 'N/A'}
    .sub_stat
      %h5 Last Updated:
      %span #{last_updated(@currently_on_tap)}
