%section#on_tap
  %h2.phark On Tap
  .content
    %h3= @currently_on_tap ? @currently_on_tap.name : 'No beer on tap :-('
    - if brewery=@currently_on_tap.brewery rescue false
      %a{:class => 'brewery_link', :href => "#{brewery.link}"}= brewery.name
    %p= @currently_on_tap.description if @currently_on_tap
    %p.details
      %strong IBU’s
      %span= @currently_on_tap.ibus if @currently_on_tap
      %strong Alcohol
      = @currently_on_tap.alcohol if @currently_on_tap
    - if @currently_on_tap
      = render 'beers/rate', :beer => @currently_on_tap.beer
  - if brewery=@currently_on_tap.logo_path rescue false
    %img{:class => 'beer_logo', :src => "/images/beers/#{@currently_on_tap.logo_path if @currently_on_tap}"}/
  %p.more
    %a{:href => "/beers/#{@currently_on_tap.id if @currently_on_tap}"} More Info
