%h1 The Beers
- @beers.each do |beer|
  %article
    %h2= beer.name
    %p= beer.description
    %p
      %strong IBUs:
      = beer.ibus
      %strong Alcohol:
      = beer.alcohol
      = render 'beers/rate', :beer => beer
