%h1.beers_header The Beers
- @beers.each do |beer|
  %article
    %img{:class => 'beer_logo', :src => "#{beer.beer_logo_path}"}
    %h2= beer.name
    %p= beer.description
    %p
      %strong IBUs:
      = beer.ibus
      %strong Alcohol:
      = beer.alcohol
      = render 'beers/rate', :beer => beer
