%h1.beers_header The Beers
- @beers.each do |beer|
  %article
    - unless beer.logo_path.blank?
      %img{:class => 'beer_logo', :src => "/images/beers/#{beer.logo_path}"}
    - else
      %img{:class => 'beer_logo', :src => "/images/beers/blank.png"}
    %h2= beer.name
    %p= beer.description
    %p
      %strong IBUs:
      = beer.ibus
      %strong Alcohol:
      = beer.alcohol
      = render 'beers/rate', :beer => beer
