- if @beer.logo_path?
  %p.logo
    %img{:src => "#{@beer.logo_url}"}/
%h1= @beer.name
%p= @beer.description
%p
  %strong IBUs:
  = @beer.ibus
  %strong Alcohol:
  = @beer.alcohol
= render 'beers/rate', :beer => @beer
