!!! 5
%link{:href => "favicon.ico", :rel => "shortcut icon"}
%html
  %head
    %meta{:charset=>'utf-8', 'http-equiv' => "Refresh",  :content => "25"}
    %title G5 Kegalytics
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    :javascript
      jQuery(function(){
        jQuery('form.rating').rating().animate({opacity: 'show'}, 2000);
      });
  %body
    #wrapper
      %header
        %a{:href => '/'}
          %h1.phark G5 Kegalytics
        -if signed_in?
          %div#username Hi, #{current_user.name}
        %nav#nav
          %li{:class => request.fullpath == '/' ? 'on' : ''}
            %a{:href => '/'} Home
          %li
            %a{:href => '#'} Keg By The Numbers
          %li{:class => request.fullpath == '/beers' ? 'on' : ''}
            %a{:href => '/beers'} The Beers
          -if signed_in?
            %li
              %a{:href => '/logout'} Logout
          -else
            %li
              %a{:href => '/login'} Login
      %section#banner
        = render :partial => 'welcome/poll' if request.fullpath == '/'
        %h2 Monitor. Analyze. Drink
        %p Never be beerless for an "all hands" again.
      = yield
    %footer
